*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    --hover-color:  rgba(49, 120, 133, 0.8);
    --font-color: #F2aa4cff;

}

body{
   font-family:  sans-serif;
   background-color: #181818;
}

a{
    text-decoration: none;
    color: inherit;
}